{% extends 'base.html.twig' %}

{% block body %}
    {{ include('app/_fragments/_nav.html.twig') }}
    <div class="container">
        {% block container %}
            <h1 class="text-center">
                {% block heading %}{{ 'app.title'|trans }}{% endblock %}
            </h1>
            {% block content %}
                <div class="well">
                    <h1>Hi there! General Kenobi...</h1>
                </div>
            {% endblock %}
        {% endblock %}
    </div>
    {{ include('app/_fragments/_feedback_modal.html.twig') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
