{% extends 'admin/layout.html.twig' %}
{% import 'admin/_macros/modals.html.twig' as modals %}

{% block title 'admin.czech_words'|trans %}

{% block heading_small word.statusLight|convert_status_code_to_icon %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ 'admin.box.title.edit'|trans }}
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(form.czechWordSentence) }}
                        {{ form_widget(form.czechWordSentence) }}
                        {{ form_errors(form.czechWordSentence) }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(form.russianWordSentence) }}
                        {{ form_widget(form.russianWordSentence) }}
                        {{ form_errors(form.russianWordSentence) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.hidden) }}
                        {{ form_widget(form.hidden) }}
                        {{ form_errors(form.hidden) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
            <div class="pull-left">
                <button class="btn btn-primary">
                    {{ 'admin.button.save'|trans }}
                </button>
                <a href="{{ path('admin.czech-word.translations.examples', {
                    id: word.id,
                    translationId: translation.id
                }) }}" class="btn btn-default">
                    {{ 'admin.button.back_to_translation_examples'|trans }}
                </a>
                <a href="{{ path('admin.czech-word.translations', { id: word.id }) }}" class="btn btn-default">
                    {{ 'admin.button.back_to_translations'|trans }}
                </a>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#js-modal-remove">
                    {{ 'admin.button.remove'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {{ modals.removeModal(
        path('admin.czech-word.translations.examples.remove', {
            id: word.id,
            translationId: translation.id,
            translationExampleId: translationExample.id
        }),
        'Do you really want to remove this translation example?'
    ) }}
{% endblock %}
