{% extends 'admin/layout.html.twig' %}

{% block title 'admin.czech_words'|trans %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ 'admin.czech_word'|trans }}</th>
                        <th>{{ 'admin.czech_sentence'|trans }}</th>
                        <th>{{ 'admin.russian_sentence'|trans }}</th>
                        <th>{{ 'admin.russian_word'|trans }}</th>
                        <th>{{ 'admin.hidden'|trans }}</th>
                        <th>{{ 'admin.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for example in translation.examples %}
                        <tr>
                            <td>
                                <a href="{{ path('admin.czech-word.edit', {id: example.translation.czechWord.id}) }}">
                                    {{ example.translation.czechWord.content }}
                                </a>
                            </td>
                            <td>
                                {{ example.czechWordSentence }}
                            </td>
                            <td>
                                {{ example.russianWordSentence }}
                            </td>
                            <td>
                                <a href="{{ path('admin.russian-word.edit', {id: example.translation.russianWord.id}) }}">
                                    {{ example.translation.russianWord.content }}
                                </a>
                            </td>
                            <td>
                                {% if example.hidden %}
                                    <span class="label label-danger">{{ 'admin.yes'|trans }}</span>
                                {% else %}
                                    <span class="label label-success">{{ 'admin.no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin.czech-word.translations.examples.edit', {
                                    id: word.id,
                                    translationId: translation.id,
                                    translationExampleId: example.id
                                }) }}" class="btn btn-primary btn-xs">
                                    {{ 'admin.button.edit'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>{{ 'admin.czech_word'|trans }}</th>
                        <th>{{ 'admin.czech_sentence'|trans }}</th>
                        <th>{{ 'admin.russian_sentence'|trans }}</th>
                        <th>{{ 'admin.russian_word'|trans }}</th>
                        <th>{{ 'admin.hidden'|trans }}</th>
                        <th>{{ 'admin.actions'|trans }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="box-footer">
            <a href="{{ path('admin.czech-word.translations', { id: word.id }) }}" class="btn btn-default">
                {{ 'admin.button.back_to_list'|trans }}
            </a>
        </div>
    </div>

    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ 'admin.box.title.add'|trans }}
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(form.czechWordSentence) }}
                        {{ form_widget(form.czechWordSentence) }}
                        {{ form_errors(form.czechWordSentence) }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(form.russianWordSentence) }}
                        {{ form_widget(form.russianWordSentence) }}
                        {{ form_errors(form.russianWordSentence) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.hidden) }}
                        {{ form_widget(form.hidden) }}
                        {{ form_errors(form.hidden) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary">
                {{ 'admin.button.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
