{% extends 'admin/layout.html.twig' %}

{% block title 'admin.czech_words'|trans %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ 'admin.russian_word'|trans }}</th>
                        <th>{{ 'admin.russian_sentence'|trans }}</th>
                        <th>{{ 'admin.czech_sentence'|trans }}</th>
                        <th>{{ 'admin.czech_word'|trans }}</th>
                        <th>{{ 'admin.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for example in translation.examples %}
                        <tr>
                            <td>
                                <a href="{{ path('admin.russian-word.edit', {id: example.translation.russianWord.id}) }}">
                                    {{ example.translation.russianWord.content }}
                                </a>
                            </td>
                            <td>
                                {{ example.russianWordSentence }}
                            </td>
                            <td>
                                {{ example.czechWordSentence }}
                            </td>
                            <td>
                                <a href="{{ path('admin.czech-word.edit', {id: example.translation.czechWord.id}) }}">
                                    {{ example.translation.czechWord.content }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('admin.czech-word.translations.examples.edit', {
                                    id: word.id,
                                    translationId: translation.id,
                                    translationExampleId: example.id
                                }) }}" class="btn btn-primary btn-xs">
                                    {{ 'admin.button.edit'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>{{ 'admin.russian_word'|trans }}</th>
                        <th>{{ 'admin.russian_sentence'|trans }}</th>
                        <th>{{ 'admin.czech_sentence'|trans }}</th>
                        <th>{{ 'admin.czech_word'|trans }}</th>
                        <th>{{ 'admin.actions'|trans }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="box-footer">
            <a href="{{ path('admin.czech-word.translations', { id: word.id }) }}" class="btn btn-default">
                {{ 'admin.button.back_to_list'|trans }}
            </a>
        </div>
    </div>

    {{ include('admin/_fragments/box/translation_example_add.html.twig') }}
{% endblock %}
