{% extends 'admin/layout.html.twig' %}

{% block title 'admin.posts'|trans %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    {{ include('admin/post/_disclaimer.html.twig') }}
    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ 'admin.box.title.edit'|trans }}
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.slug) }}
                        <div class="input-group">
                            <span class="input-group-addon">http://www.muzirus.cz/cs/page/</span>
                            {{ form_widget(form.slug) }}
                        </div>
                        {{ form_errors(form.slug) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary">
                {{ 'admin.button.save'|trans }}
            </button>
            <a href="{{ path('admin.post') }}" class="btn btn-default">
                {{ 'admin.button.back_to_list'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
