{% extends 'admin/layout.html.twig' %}
{% import 'admin/_macros/buttons.html.twig' as buttons %}

{% block title 'admin.czech_words'|trans %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs clearfix">
            <li>
                <a href="{{ path('admin.czech-word.edit', {id: word.id}) }}">
                    {{ 'admin.tab.edit'|trans }}
                </a>
            </li>
            <li class="active">
                <a href="{{ path('admin.czech-word.translations', {id: word.id}) }}">
                    {{ 'admin.tab.exemplifications'|trans }}
                </a>
            </li>
            <li class="pull-right">
                <div class="btn-group">
                    {% if wordPrev is not null %}
                        {{ buttons.wordPrev(wordPrev.content, path('admin.czech-word.translations', {id: wordPrev.id})) }}
                    {% endif %}
                    {% if wordNext is not null %}
                        {{ buttons.wordNext(wordNext.content, path('admin.czech-word.translations', {id: wordNext.id})) }}
                    {% endif %}
                </div>
            </li>
        </ul>
        <div class="box no-border">
            <div class="box-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'admin.czech_word'|trans }}</th>
                            <th>{{ 'admin.russian_word'|trans }}</th>
                            <th>{{ 'admin.examples'|trans }}</th>
                            <th>{{ 'admin.russian_note'|trans }}</th>
                            <th>{{ 'admin.czech_note'|trans }}</th>
                            <th>{{ 'admin.actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for translation in word.translations %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin.czech-word.edit', {id: translation.czechWord.id}) }}">
                                        {{ translation.czechWord.content }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin.russian-word.edit', {id: translation.russianWord.id}) }}">
                                        {{ translation.russianWord.content }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin.czech-word.translations.examples', {
                                        id: word.id,
                                        translationId: translation.id
                                    }) }}" class="btn btn-primary btn-xs">
                                        {{ translation.examplesCount }} examples
                                    </a>
                                </td>
                                <td>
                                    {{ translation.russianWordNote }}
                                </td>
                                <td>
                                    {{ translation.czechWordNote }}
                                </td>
                                <td>
                                    <a href="{{ path('admin.czech-word.translations.edit', {
                                        id: word.id,
                                        translationId: translation.id
                                    }) }}"
                                       class="btn btn-primary btn-xs">
                                        {{ 'admin.button.edit'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>{{ 'admin.czech_word'|trans }}</th>
                            <th>{{ 'admin.russian_word'|trans }}</th>
                            <th>{{ 'admin.examples'|trans }}</th>
                            <th>{{ 'admin.russian_note'|trans }}</th>
                            <th>{{ 'admin.czech_note'|trans }}</th>
                            <th>{{ 'admin.actions'|trans }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="box-footer">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{ 'admin.czech_word'|trans }}</label>
                            <input class="form-control" value="{{ word.content }}" title="" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.czechWordNote) }}
                            {{ form_widget(form.czechWordNote) }}
                            {{ form_errors(form.czechWordNote) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.russianWord) }}
                            {{ form_widget(form.russianWord) }}
                            {{ form_errors(form.russianWord) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.russianWordNote) }}
                            {{ form_widget(form.russianWordNote) }}
                            {{ form_errors(form.russianWordNote) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">
                    {{ 'admin.button.add_exemplification'|trans }}
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
