{% extends 'admin/layout.html.twig' %}
{% import 'admin/_macros/buttons.html.twig' as buttons %}

{% block title 'Česká slova' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs clearfix">
            <li>
                <a href="{{ path('admin.czech-word.edit', {id: word.id}) }}">
                    Edit
                </a>
            </li>
            <li class="active">
                <a href="{{ path('admin.czech-word.translations', {id: word.id}) }}">
                    Exemplifications
                </a>
            </li>
            <li class="pull-right">
                <div class="btn-group">
                    {% if wordPrev is not null %}
                        {{ buttons.wordPrev(wordPrev.content, path('admin.czech-word.translations', {id: wordPrev.id})) }}
                    {% endif %}
                    {% if wordNext is not null %}
                        {{ buttons.wordNext(wordNext.content, path('admin.czech-word.translations', {id: wordNext.id})) }}
                    {% endif %}
                </div>
            </li>
        </ul>
        <div class="box no-border">
            <div class="box-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Czech word</th>
                            <th>Russian word</th>
                            <th>Examples</th>
                            <th>Note RU</th>
                            <th>Note CS</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for translation in word.translations %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin.czech-word.edit', {id: translation.czechWord.id}) }}">
                                        {{ translation.czechWord.content }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin.russian-word.edit', {id: translation.russianWord.id}) }}">
                                        {{ translation.russianWord.content }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin.czech-word.translations.examples', {
                                        id: word.id,
                                        translationId: translation.id
                                    }) }}">
                                        <span class="label label-default">{{ translation.examplesCount }}</span>
                                    </a>
                                </td>
                                <td>
                                    {{ translation.russianWordNote }}
                                </td>
                                <td>
                                    {{ translation.czechWordNote }}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('admin.czech-word.translations.edit', {
                                            id: word.id,
                                            translationId: translation.id
                                        }) }}"
                                           class="btn btn-primary">
                                            Edit
                                        </a>
                                        <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure?');">
                                            Remove
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Czech word</th>
                            <th>Russian word</th>
                            <th>Examples</th>
                            <th>Note RU</th>
                            <th>Note CS</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="box-footer">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-control">{{ word.content }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.czechWordNote) }}
                            {{ form_errors(form.czechWordNote) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.russianWord) }}
                            {{ form_errors(form.russianWord) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.russianWordNote) }}
                            {{ form_errors(form.russianWordNote) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">
                    Add exemplification
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
