{% extends 'admin/translation/index.html.twig' %}
{% import 'admin/_macros/modals.html.twig' as modals %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ 'admin.box.title.edit'|trans }}
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.czechWord) }}
                        {{ form_widget(form.czechWord) }}
                        {{ form_errors(form.czechWord) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.czechWordNote) }}
                        {{ form_widget(form.czechWordNote) }}
                        {{ form_errors(form.czechWordNote) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.russianWord) }}
                        {{ form_widget(form.russianWord) }}
                        {{ form_errors(form.russianWord) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.russianWordNote) }}
                        {{ form_widget(form.russianWordNote) }}
                        {{ form_errors(form.russianWordNote) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.link) }}
                <div class="input-group">
                    <span class="input-group-addon">https://kontext.korpus.cz/</span>
                    {{ form_widget(form.link) }}
                </div>
                {{ form_errors(form.link) }}
            </div>
        </div>
        <div class="box-footer clearfix">
            <div class="pull-left">
                <button class="btn btn-primary">
                    {{ 'admin.button.save'|trans }}
                </button>
                <a href="{{ path('admin.translation') }}" class="btn btn-default">
                    {{ 'admin.button.back_to_list'|trans }}
                </a>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#js-modal-remove">
                    {{ 'admin.button.remove'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {{ modals.removeModal(
        path('admin.translation.remove', { id: translation.id }),
        'Do you really want to remove this translation?'
    ) }}
{% endblock %}
