{% extends 'admin/layout.html.twig' %}

{% block title 'Exemplifikace' %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-striped table-hover js-data-table">
                <thead>
                    <tr>
                        <th>Russian</th>
                        <th>Czech</th>
                        <th>Examples</th>
                        <th>Note RU</th>
                        <th>Note CS</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for translation in translations %}
                        <tr>
                            <td>
                                <a href="{{ path('admin.russian-word.edit', {id: translation.russianWord.id}) }}">
                                    {{ translation.russianWord.content }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('admin.czech-word.edit', {id: translation.czechWord.id}) }}">
                                    {{ translation.czechWord.content }}
                                </a>
                            <td>
                                <span class="label label-default">{{ translation.examplesCount }}</span>
                            </td>
                            <td>
                                {{ translation.russianWordNote }}
                            </td>
                            <td>
                                {{ translation.czechWordNote }}
                            </td>
                            <td>
                                <a href="{{ path('admin.translation.edit', {id: translation.id}) }}"
                                   class="btn btn-primary btn-xs">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Russian</th>
                        <th>Czech</th>
                        <th>Examples</th>
                        <th>Note RU</th>
                        <th>Note CS</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
