{% extends 'app/layout.html.twig' %}

{% block title 'České slovo' %}

{% block content %}
    <h3>{{ word }}</h3>
    <ol>
        {% for translation in word.translations %}
            <li>
                <div>
                    <a href="{{ path('app.czech_to_russian.detail', { id: word.id }) }}">{{ word }}</a>
                    &equals;&gt;
                    <a href="{{ path('app.russian_to_czech.detail', { id: translation.russianWord.id }) }}">
                        {{ translation.russianWord }}
                    </a>
                </div>
                <div>
                    <em>Ukázky:</em>
                    <ol>
                        {% for example in translation.examples %}
                            <li>
                                {{ example.czechWordSentence }} &equals;&gt; {{ example.russianWordSentence }}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
