{% extends 'app/layout.html.twig' %}

{% block heading 'Český heslář' %}

{% block content %}
    {% for word in words %}
        <h3>
            <a href="{{ path('app.czech_to_russian.detail', { id: word.id }) }}">{{ word }}</a>
        </h3>
        <ol>
            {% for translation in word.translations %}
                <li>
                    {{ word }} &equals;&gt; {{ translation.russianWord }}
                </li>
            {% endfor %}
        </ol>
        <hr>
    {% endfor %}

    {% if words.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(words, 'twitter_bootstrap3', { routeName: 'app.czech_to_russian.paginated' }) }}
        </div>
    {% endif %}
{% endblock %}
