{% extends 'admin/layout.html.twig' %}

{% import 'admin/_macros/labels.html.twig' as labels %}

{% block title 'Ruská slova' %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-striped table-hover js-data-table">
                <thead>
                    <tr>
                        <th>Word</th>
                        <th>Word with accent</th>
                        <th>Translations</th>
                        <th>Inflection</th>
                        <th>Gender</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in words %}
                        <tr class="{{ word.statusLight|convert_status_code_to_class }}">
                            <td>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="{{ path('admin.russian-word.edit', {id: word.id}) }}">
                                            {{ word.content|escape|highlight_latin|raw }}
                                        </a>
                                    </div>
                                    <div class="pull-right">
                                        {% if word.imported %}
                                            <i class="fa fa-info-circle text-info" data-toggle="tooltip"
                                               data-placement="left" title="Imported"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{ word.contentWithAccent|escape|highlight_accent|raw }}
                            </td>
                            <td>
                                <a href="{{ path('admin.russian-word.translations', {id: word.id}) }}">
                                    <span class="label label-default">{{ word.translationsCount }}</span>
                                </a>
                            </td>
                            <td>{{ word.languageNoteExceptionToInflection }}</td>
                            <td>{{ word.languageNoteGender|gender_as_string }}</td>
                            <td>{{ word.createdAtFormat('Y-m-d') }}</td>
                            <td>{{ word.updatedAtFormat('Y-m-d') }}</td>
                            <td>{{ labels.wordStatus(word.statusLight) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Word</th>
                        <th>Word with accent</th>
                        <th>Translations</th>
                        <th>Inflection</th>
                        <th>Gender</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="box-footer">
            <a href="{{ path('admin.russian-word.add') }}" class="btn btn-primary">
                Add word
            </a>
        </div>
    </div>
{% endblock %}
