<aside class="main-sidebar">
    <section class="sidebar">
        {#
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <div class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        #}
        <ul class="sidebar-menu">
            <li class="header">{{ 'admin.home'|trans }}</li>
            <li>
                <a href="{{ path('admin.dashboard') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>{{ 'admin.dashboard'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.announcement') }}">
                    <i class="fa fa-bullhorn"></i>
                    <span>{{ 'admin.announcements'|trans }}</span>
                </a>
            </li>
            <li class="header">{{ 'admin.words'|trans }}</li>
            <li>
                <a href="{{ path('admin.russian-word') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.russian_words'|trans }}</span>
                    <span class="pull-right-container"><small
                                class="text-muted pull-right">{{ count_russian_words() }}</small></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.czech-word') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.czech_words'|trans }}</span>
                    <span class="pull-right-container"><small
                                class="text-muted pull-right">{{ count_czech_words() }}</small></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.legacy_word') }}">
                    <i class="fa fa-bookmark"></i>
                    <span>{{ 'admin.original_database'|trans }}</span>
                </a>
            </li>
            <li class="header">{{ 'admin.translations'|trans }}</li>
            <li>
                <a href="{{ path('admin.translation') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.equivalents'|trans }}</span>
                    <span class="pull-right-container">
                        <small class="text-muted pull-right">{{ count_translations() }}</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.translation-example') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.exemplifications'|trans }}</span>
                    <span class="pull-right-container">
                        <small class="text-muted pull-right">{{ count_translation_examples() }}</small>
                    </span>
                </a>
            </li>
            <li class="header">{{ 'admin.sources'|trans }}</li>
            <li>
                <a href="{{ path('admin.source') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.sources'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.source-type') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.source_types'|trans }}</span>
                </a>
            </li>
            <li class="header">{{ 'admin.other'|trans }}</li>
            <li>
                <a href="{{ path('admin.symbol') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.symbols'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.abbreviation') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.abbreviations'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.category') }}">
                    <i class="fa fa-book"></i>
                    <span>{{ 'admin.topics'|trans }}</span>
                </a>
            </li>
            <li class="header">{{ 'admin.system'|trans }}</li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li>
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>{{ 'admin.users'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('admin.activity') }}">
                    <i class="fa fa-clock-o"></i>
                    <span>{{ 'admin.activities'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin.user') }}">
                    <i class="fa fa-users"></i>
                    <span>{{ 'admin.users'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('logout') }}">
                    <i class="fa fa-lock"></i>
                    <span>{{ 'admin.sign_out'|trans }}</span>
                </a>
            </li>
        </ul>
    </section>
</aside>
