{% extends 'app/layout.html.twig' %}

{% block heading %}
    {% if app.request.locale == 'ru' %}
        {{ post.titleInRussian }}
    {% else %}
        {{ post.title }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if app.request.locale == 'ru' %}
        {{ post.contentInRussian|md2html }}
    {% else %}
        {{ post.content|md2html }}
    {% endif %}
    <h2 class="mt-5">Noty</h2>
    <table class="table">
        <colgroup>
            <col class="col-4">
            <col class="col-4">
            <col class="col-4">
        </colgroup>
        <tbody>
            <tr>
                <td rowspan="3">
                    <img src="{{ asset('static/images/notations/music-parts-of-note.svg') }}"
                         class="img-fluid"
                         alt="https://commons.wikimedia.org/wiki/File:Parts_of_a_musical_note.svg" />
                </td>
                <td>1 praporek</td>
                <td>1 {{ 'флаж(о)к/хвост'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>2 nožka</td>
                <td>2 {{ 'штиль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>3 hlavička</td>
                <td>3 {{ 'гол(о)вка'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-beam.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/3/34/Music-beam.svg" />
                </td>
                <td>trámec</td>
                <td>{{ 'в(я)зка/ребр(о)'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-dotnote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/6/6c/Music-dotnote.svg">
                </td>
                <td>tečka</td>
                <td>{{ 'т(о)чка'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>C</td>
                <td>до</td>
            </tr>
            <tr>
                <td>D</td>
                <td>ре</td>
            </tr>
            <tr>
                <td>E</td>
                <td>ми</td>
            </tr>
            <tr>
                <td>F</td>
                <td>фа</td>
            </tr>
            <tr>
                <td>G</td>
                <td>соль</td>
            </tr>
            <tr>
                <td>A</td>
                <td>ля</td>
            </tr>
            <tr>
                <td>H</td>
                <td>си</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <colgroup>
            <col class="col-4">
            <col class="col-4">
            <col class="col-4">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-doublewholenote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/d/dc/Music-doublewholenote.svg">
                </td>
                <td>nota brevis, dvoucelá nota</td>
                <td>{{ 'нота бревис, двойн(а)я ц(е)лая н(о)та'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-wholenote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/a/a0/Music-wholenote.svg">
                </td>
                <td>celá nota</td>
                <td>{{ 'ц(е)лая н(о)та'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-halfnote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/c/c1/Music-halfnote.svg">
                </td>
                <td>půlová nota</td>
                <td>{{ 'полов(и)нная н(о)та'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-quarternote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/f/fb/Music-quarternote.svg">
                </td>
                <td>čtvrťová nota</td>
                <td>{{ 'четвертн(а)я н(о)та'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-eighthnote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/5/5b/Music-eighthnote.svg">
                </td>
                <td>osminová nota</td>
                <td>{{ 'восьм(а)я н(о)та'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-sixteenthnote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/5/57/Music-sixteenthnote.svg">
                </td>
                <td>šestnáctinová nota</td>
                <td>{{ 'шестн(а)дцатая нота'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-thirtysecondnote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/b/b1/Music-thirtysecondnote.svg">
                </td>
                <td>dvaatřicetinová nota</td>
                <td>{{ 'тр(и)дцать-втор(а)я нота'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-sixtyfourthnote.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/b/b0/Sixtyfourth-note.svg">
                </td>
                <td>čtyřiašedesátinová nota</td>
                <td>{{ 'шестьдес(я)т-четв(ё)ртая'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>duola</td>
                <td>дуоль</td>
            </tr>
            <tr>
                <td>triola</td>
                <td>триоль</td>
            </tr>
            <tr>
                <td>kvartola</td>
                <td>квартоль</td>
            </tr>
            <tr>
                <td>kvintola</td>
                <td>квинтоль</td>
            </tr>
            <tr>
                <td>sextola</td>
                <td>секстоль</td>
            </tr>
            <tr>
                <td>septola</td>
                <td>септоль</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Klíče</h2>
    <table class="table">
        <colgroup>
            <col class="col-4">
            <col class="col-4">
            <col class="col-4">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-Gclef.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/d/d4/Music-GClef.svg">
                </td>
                <td>houslový klíč</td>
                <td>{{ 'скрип(и)чный ключ'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-Fclef.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/2/23/Music-Fclef.svg">
                </td>
                <td>basový klíč</td>
                <td>{{ 'бас(о)вый ключ'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-Cclef-alt.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/0/06/%D0%90%D0%BB%D1%8C%D1%82%D0%BE%D0%B2%D1%8B%D0%B9_%D0%BA%D0%BB%D1%8E%D1%87.svg">
                </td>
                <td>altový klíč (C klíč)</td>
                <td>{{ 'альт(о)вый ключ (до ключ)'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-Cclef-tenor.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/6/68/%D0%A2%D0%B5%D0%BD%D0%BE%D1%80%D0%BE%D0%B2%D1%8B%D0%B9_%D0%BA%D0%BB%D1%8E%D1%87.svg">
                </td>
                <td>tenorový klíč (C klíč)</td>
                <td>{{ 'тен(о)ровый ключ (до ключ)'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Pomlky</h2>
    <table class="table">
        <colgroup>
            <col class="col-4">
            <col class="col-4">
            <col class="col-4">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-doublewholerest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/1/12/Music-doublewholerest.svg">
                </td>
                <td>dvojitá pomlka</td>
                <td>{{ 'двойн(а)я п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-wholerest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/8/8c/Music-wholerest.svg">
                </td>
                <td>celá pomlka</td>
                <td>{{ 'ц(е)лая п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-halfrest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/e/ec/Music-halfrest.svg">
                </td>
                <td>půlová pomlka</td>
                <td>{{ 'полов(и)нная п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-quarterrest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/6/66/Music-quarterrest.svg">
                </td>
                <td>čtvrťová pomlka</td>
                <td>{{ 'четвертн(а)я п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-eighthrest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/7/7c/Music-eighthrest.svg">
                </td>
                <td>osminová pomlka</td>
                <td>{{ 'восьм(а)я п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-sixteenthrest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/4/4d/Music-sixteenthrest.svg">
                </td>
                <td>šestnáctinová pomlka</td>
                <td>{{ 'шестн(а)дцатая п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-thirtysecondrest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/7/75/Music-thirtysecondrest.svg">
                </td>
                <td>dvaatřicetinová pomlka</td>
                <td>{{ 'тр(и)дцать-втор(а)я п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-sixtyfourthrest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/9/92/Music-sixtyfourthrest.svg">
                </td>
                <td>čtyřiašedesátinová pomlka</td>
                <td>{{ 'шестьдес(я)т четв(ё)ртая п(а)уза'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-measurerest.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/5/5f/Music-measurerest.svg">
                </td>
                <td>vícetaktová pomlka (10 taktů)</td>
                <td>{{ 'многот(а)ктовая п(а)уза (10 т(а)ктов)'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Posuvky</h2>
    <table class="table">
        <colgroup>
            <col class="col-4">
            <col class="col-4">
            <col class="col-4">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-sharp.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/d/da/Music-sharp.svg">
                </td>
                <td>křížek</td>
                <td>{{ 'ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-doublesharp.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/0/06/Music-doblesharp.svg">
                </td>
                <td>dvojkřížek</td>
                <td>{{ 'дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-flat.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/c/c7/Music-flat.svg">
                </td>
                <td>bé</td>
                <td>{{ 'бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-doubleflat.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/8/81/Music-doubleflat.svg">
                </td>
                <td>dvojité bé</td>
                <td>{{ 'дубль-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-natural.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/f/f4/Music-natural.svg">
                </td>
                <td>odrážka</td>
                <td>{{ 'бек(а)р'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-keysigsharp.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/f/f2/Music-keysigsharp.svg">
                </td>
                <td>
                    tóniny s křížky, při zápisu v houslovém klíči se křížky objevují v pořadí fis,cis, gis, dis,
                    ais, eis, his
                </td>
                <td>{{ 'ди(е)зные тон(а)льности, при записи в скрипичном ключе появляются диезы в порядке си, ми, ля, ре, соль, до, фа'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-keysigflat.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/6/63/Music-keysigflat.svg">
                </td>
                <td>
                    tóniny s béčky, při zápisu v houslovém klíči se béčka objevují v pořadí bé, es, as, des, ges,
                    ces, fes
                </td>
                <td>{{ 'бемольные тональности, при записи в скрипичном ключе появляются бемоли в порядке фа, до, соль, ре, ля, ми, си'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Křížky</h2>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>Fis</td>
                <td>{{ 'фа-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Cis</td>
                <td>{{ 'до-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Gis</td>
                <td>{{ 'соль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Dis</td>
                <td>{{ 'ре-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Ais</td>
                <td>{{ 'ля-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Eis</td>
                <td>{{ 'ми-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>His</td>
                <td>{{ 'си-ди(е)з'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Dvojkřížky</h2>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>Fisis</td>
                <td>{{ 'фа-дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Cisis</td>
                <td>{{ 'до-дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Gisis</td>
                <td>{{ 'соль-дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Disis</td>
                <td>{{ 'ре-дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Aisis</td>
                <td>{{ 'ля-дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Eisis</td>
                <td>{{ 'ми-дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Hisis</td>
                <td>{{ 'си-дубль-ди(е)з'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Bé/béčka</h2>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>B</td>
                <td>{{ 'си-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Es</td>
                <td>{{ 'ми-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>As</td>
                <td>{{ 'ля-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Des</td>
                <td>{{ 'ре-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Ges</td>
                <td>{{ 'соль-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Ces</td>
                <td>{{ 'до-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Fes</td>
                <td>{{ 'фа-бем(о)ль'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Dvojitá bé</h2>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>Heses</td>
                <td>{{ 'си-дубль-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Eses</td>
                <td>{{ 'ми-дубль-бем(о)ль '|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Ases</td>
                <td>{{ 'ля-дубль-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Deses</td>
                <td>{{ 'ре-дубль-бем(о)ль '|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Geses</td>
                <td>{{ 'соль-дубль-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Ceses</td>
                <td>{{ 'до-дубль-бем(о)ль'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>Feses</td>
                <td>{{ 'фа-дубль-бем(о)ль'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Takty</h2>
    <table class="table">
        <colgroup>
            <col class="col-4">
            <col class="col-4">
            <col class="col-4">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-staff.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/2/20/Music-staff.svg">
                </td>
                <td>notová osnova</td>
                <td>{{ 'н(о)тный стан'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-ledger.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/a/ac/Music-ledger.svg">
                </td>
                <td>pomocné linky</td>
                <td>{{ 'доб(а)вочныйе л(и)нии'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-bar.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/4/4d/Music-bar.svg">
                </td>
                <td>taktová čára</td>
                <td>{{ 'т(а)ктовая черт(а)'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-doublebar.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/0/0f/Music-doublebar.svg">
                </td>
                <td>dvojitá taktová čára</td>
                <td>{{ 'двойн(а)я т(а)ктовая черт(а)'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-dottedbar.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/a/ad/Music-dottedbar.svg">
                </td>
                <td>tečkovaná taktová čára</td>
                <td>{{ 'пункт(и)рная т(а)ктовая черт(а)'|highlight_accent }}</td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('static/images/notations/music-accolade.svg') }}"
                         class="img-fluid"
                         alt="https://upload.wikimedia.org/wikipedia/commons/2/2d/Accolade.svg">
                </td>
                <td>akoláda, svorka</td>
                <td>{{ 'аккол(а)да, ск(о)бка'|highlight_accent }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Tónina, stupnice</h2>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>stupnice mollоvá/durová – přirozená</td>
                <td>минорный/мажорный лад натуральный</td>
            </tr>
            <tr>
                <td>stupnice mollová/durová – melodická</td>
                <td>минуроный/мажорный лад мелодический</td>
            </tr>
            <tr>
                <td>klesající</td>
                <td>нисходящий</td>
            </tr>
            <tr>
                <td>stoupající</td>
                <td>восходящий</td>
            </tr>
            <tr>
                <td>stupnice mollová/durová harmonická</td>
                <td>минорный/мажорный лад гармонический</td>
            </tr>
            <tr>
                <td>chromatická stupnice</td>
                <td>хроматическая гамма / хроматический звукоряд</td>
            </tr>
            <tr>
                <td>celotónová stupnice</td>
                <td>целотоновый лад, целотонный лад, звукоряд, гамма</td>
            </tr>
            <tr>
                <td>pentatonická (pětitónová) stupnice</td>
                <td>пятитонная гамма</td>
            </tr>
            <tr>
                <td>cikánská stupnice – durová s velkou tercií</td>
                <td>цыганская/венгерская гамма – мажорная с большой терцией</td>
            </tr>
            <tr>
                <td>cikánská stupnice – mollová s malou tercií</td>
                <td>цыганская/венгерская гамма – минорная с большой терцией</td>
            </tr>
        </tbody>
    </table>
    <h2 class="mt-5">Stupnice</h2>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>C dur</td>
                <td>До мажор</td>
            </tr>
            <tr>
                <td>G dur</td>
                <td>Соль мажор</td>
            </tr>
            <tr>
                <td>D dur</td>
                <td>Ре мажор</td>
            </tr>
            <tr>
                <td>A dur</td>
                <td>Ля мажор</td>
            </tr>
            <tr>
                <td>E dur</td>
                <td>Ми мажор</td>
            </tr>
            <tr>
                <td>H dur</td>
                <td>Си мажор</td>
            </tr>
            <tr>
                <td>Fis dur</td>
                <td>Фа-диез мажор</td>
            </tr>
            <tr>
                <td>Cis dur</td>
                <td>До-диез мажор</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>F dur</td>
                <td>Фа мажор</td>
            </tr>
            <tr>
                <td>B dur</td>
                <td>Си-бемоль мажор</td>
            </tr>
            <tr>
                <td>Es dur</td>
                <td>Ми-бемоль мажор</td>
            </tr>
            <tr>
                <td>As dur</td>
                <td>Ля-бемоль мажор</td>
            </tr>
            <tr>
                <td>Des dur</td>
                <td>Ре-бемоль мажор</td>
            </tr>
            <tr>
                <td>Ges dur</td>
                <td>Соль-бемоль мажор</td>
            </tr>
            <tr>
                <td>Ces dur</td>
                <td>До-бемоль мажор</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <colgroup>
            <col class="col-6">
            <col class="col-6">
        </colgroup>
        <tbody>
            <tr>
                <td>a moll</td>
                <td>ля минор</td>
            </tr>
            <tr>
                <td>e moll</td>
                <td>ми минор</td>
            </tr>
            <tr>
                <td>h moll</td>
                <td>си минор</td>
            </tr>
            <tr>
                <td>fis moll</td>
                <td>фа-диез минор</td>
            </tr>
            <tr>
                <td>cis moll</td>
                <td>до-диез минор</td>
            </tr>
            <tr>
                <td>gis moll</td>
                <td>соль-диез минор</td>
            </tr>
            <tr>
                <td>dis moll</td>
                <td>ре-диез минор</td>
            </tr>
            <tr>
                <td>ais moll</td>
                <td>ля-диез минор</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
