{% extends 'admin/layout.html.twig' %}

{% block title 'admin.czech_words'|trans %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ 'admin.box.title.add'|trans }}
            </h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}
            </div>
            <div class="form-group">
                {{ form_label(form.languageNotePronunciation) }}
                {{ form_widget(form.languageNotePronunciation) }}
                {{ form_errors(form.languageNotePronunciation) }}
            </div>
            <div class="form-group">
                {{ form_label(form.languageNoteInflection) }}
                {{ form_widget(form.languageNoteInflection) }}
                {{ form_errors(form.languageNoteInflection) }}
            </div>
            <div class="form-group">
                {{ form_label(form.languageNoteExceptionToInflection) }}
                {{ form_widget(form.languageNoteExceptionToInflection) }}
                {{ form_errors(form.languageNoteExceptionToInflection) }}
            </div>
            <div class="form-group">
                {{ form_label(form.languageNoteGender) }}
                {{ form_widget(form.languageNoteGender) }}
                {{ form_errors(form.languageNoteGender) }}
            </div>
            <div class="form-group">
                {{ form_label(form.languageNoteOther) }}
                {{ form_widget(form.languageNoteOther) }}
                {{ form_errors(form.languageNoteOther) }}
            </div>
            <div class="form-group">
                {{ form_label(form.explanation) }}
                {{ form_widget(form.explanation) }}
                {{ form_errors(form.explanation) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.explanationSourceInfo) }}
                        {{ form_widget(form.explanationSourceInfo) }}
                        {{ form_errors(form.explanationSourceInfo) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.explanationSourceDate) }}
                        {{ form_widget(form.explanationSourceDate) }}
                        {{ form_errors(form.explanationSourceDate) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.note) }}
                {{ form_widget(form.note) }}
                {{ form_errors(form.note) }}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.categories) }}
                        {{ form_widget(form.categories) }}
                        {{ form_errors(form.categories) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.sources) }}
                        {{ form_widget(form.sources) }}
                        {{ form_errors(form.sources) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.statusLight) }}
                {{ form_widget(form.statusLight) }}
                {{ form_errors(form.statusLight) }}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" name="save" class="btn btn-primary">
                {{ 'admin.button.save'|trans }}
            </button>
            <button type="submit" name="save-and-new" class="btn btn-primary">
                {{ 'admin.button.save_and_new'|trans }}
            </button>
            <a href="{{ path('admin.czech-word') }}" class="btn btn-default">
                {{ 'admin.button.back_to_list'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
