{% extends 'admin/layout.html.twig' %}
{% import 'admin/_macros/buttons.html.twig' as buttons %}
{% import 'admin/_macros/modals.html.twig' as modals %}

{% block title 'admin.czech_words'|trans %}

{% block heading_small word.statusLight|convert_status_code_to_icon %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs clearfix">
            <li class="active">
                <a href="{{ path('admin.czech-word.edit', {id: word.id}) }}">
                    {{ 'admin.tab.edit'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('admin.czech-word.translations', {id: word.id}) }}">
                    {{ 'admin.tab.equivalents'|trans }}
                </a>
            </li>
            <li class="pull-right">
                <div class="btn-group">
                    {% if wordPrev is not null %}
                        {{ buttons.wordPrev(wordPrev.content, path('admin.czech-word.edit', {id: wordPrev.id})) }}
                    {% endif %}
                    {% if wordNext is not null %}
                        {{ buttons.wordNext(wordNext.content, path('admin.czech-word.edit', {id: wordNext.id})) }}
                    {% endif %}
                </div>
            </li>
        </ul>
        <div class="box no-border">
            {{ form_start(form) }}
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}
                    <div class="help-block">
                        {{ word.content|highlight_cyrillic }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.languageNotePronunciation) }}
                            {{ form_widget(form.languageNotePronunciation) }}
                            {{ form_errors(form.languageNotePronunciation) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.languageNoteInflection) }}
                            {{ form_widget(form.languageNoteInflection) }}
                            {{ form_errors(form.languageNoteInflection) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.languageNoteExceptionToInflection) }}
                            {{ form_widget(form.languageNoteExceptionToInflection) }}
                            {{ form_errors(form.languageNoteExceptionToInflection) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.languageNoteType) }}
                            {{ form_widget(form.languageNoteType) }}
                            {{ form_errors(form.languageNoteType) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.languageNoteGender) }}
                            {{ form_widget(form.languageNoteGender) }}
                            {{ form_errors(form.languageNoteGender) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.languageNoteOther) }}
                            {{ form_widget(form.languageNoteOther) }}
                            {{ form_errors(form.languageNoteOther) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.explanation) }}
                            {{ form_widget(form.explanation) }}
                            {{ form_errors(form.explanation) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.explanationSourceInfo) }}
                            {{ form_widget(form.explanationSourceInfo) }}
                            {{ form_errors(form.explanationSourceInfo) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.explanationSourceDate) }}
                            {{ form_widget(form.explanationSourceDate) }}
                            {{ form_errors(form.explanationSourceDate) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.note) }}
                    {{ form_widget(form.note) }}
                    {{ form_errors(form.note) }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.categories) }}
                            {{ form_widget(form.categories) }}
                            {{ form_errors(form.categories) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.sources) }}
                            {{ form_widget(form.sources) }}
                            {{ form_errors(form.sources) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.statusLight) }}
                    {{ form_widget(form.statusLight) }}
                    {{ form_errors(form.statusLight) }}
                </div>
            </div>
            <div class="box-footer clearfix">
                <div class="pull-left">
                    <button type="submit" name="save" class="btn btn-primary">
                        {{ 'admin.button.save'|trans }}
                    </button>
                    <a href="{{ path('admin.czech-word.add') }}" class="btn btn-default">
                        {{ 'admin.button.add_new'|trans }}
                    </a>
                    <a href="{{ path('admin.czech-word') }}" class="btn btn-default">
                        {{ 'admin.button.back_to_list'|trans }}
                    </a>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#js-modal-remove">
                        {{ 'admin.button.remove'|trans }}
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {{ modals.removeModal(
        path('admin.czech-word.remove', {id: word.id}),
        'Do you really want to remove this word?'
    ) }}
{% endblock %}
