<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app.index') }}">
            <img src="{{ asset('static/images/muzirus-logo.svg') }}" class="logo" alt="Muzirus.cz logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.notations') }}">
                        {{ 'app.menu.notations'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('app.russian_to_czech') }}">
                        {{ 'app.title.vocabulary_russian'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('app.czech_to_russian') }}">
                        {{ 'app.title.vocabulary_czech'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.topics') }}">
                        {{ 'app.title.topics'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.abbreviation') }}">
                        {{ 'app.title.abbreviations'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.page', {slug: 'word-processing'}) }}">
                        {{ 'app.title.proccessing_of_words'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.page', {slug: 'about'}) }}">
                        {{ 'app.title.about_project'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.feedback') }}">
                        {{ 'app.title.suggest_improvement'|trans }}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="sr-only">Choose language</span>
                    </a>
                    <div class="dropdown-menu">
                        {% for locale in get_locales() %}
                            <a class="dropdown-item" href="{{ path(
                                app.request.get('_route', 'app.index'),
                                app.request.get('_route_params', [])|merge({_locale: locale.code})
                            ) }}">
                                {{ locale.name|capitalize }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
