<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app.index') }}">
                <img src="{{ asset('static/images/muzirus-logo.svg') }}" class="logo" alt="Muzirus.cz logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('app.page', {slug: 'notations'}) }}">{{ 'app.title.notations'|trans }}</a></li>
                <li><a href="{{ path('app.russian_to_czech') }}">{{ 'app.title.vocabulary_russian'|trans }}</a></li>
                <li><a href="{{ path('app.czech_to_russian') }}">{{ 'app.title.vocabulary_czech'|trans }}</a></li>
                <li><a href="{{ path('app.topics') }}">{{ 'app.title.topics'|trans }}</a></li>
                <li><a href="{{ path('app.abbreviation') }}">{{ 'app.title.abbreviations'|trans }}</a></li>
                <li><a href="#">{{ 'app.title.proccessing_of_words'|trans }}</a></li>
                <li><a href="{{ path('app.page', {slug: 'about'}) }}">{{ 'app.title.about_project'|trans }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#js-modal-feedback">
                        {{ 'app.title.suggest_improvement'|trans }}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                       id="locales">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="caret"></span>
                        <span class="sr-only">Choose language</span>
                    </a>
                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                        {% for locale in get_locales() %}
                            {% if app.request.locale == locale.code %}
                                {% set attributes = 'aria-checked="true" class="active"' %}
                            {% else %}
                                {% set attributes = 'aria-checked="false"' %}
                            {% endif %}
                            <li {{ attributes|raw }} role="menuitem">
                                <a href="{{ path(
                                    app.request.get('_route', 'app.index'),
                                    app.request.get('_route_params', [])|merge({_locale: locale.code})
                                ) }}">
                                    {{ locale.name|capitalize }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
