{% extends 'admin/layout.html.twig' %}

{% import 'admin/_macros/modals.html.twig' as modals %}

{% block title 'Tematické kategorie' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            Edit
        </div>
        <div class="box-body">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div class="box-footer clearfix">
            <div class="pull-left">
                <button class="btn btn-primary">
                    Save
                </button>
                <a href="{{ path('admin.category') }}" class="btn btn-default">
                    Back to list
                </a>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#js-modal-remove">
                    Remove
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {{ modals.removeModal(
        path('admin.category.remove', {id: category.id}),
        'Do you really want to remove this category?'
    ) }}
{% endblock %}
