{% macro word_czech(word, wordPrev, wordNext) %}
    <div class="row">
        <div class="col">
            {% if wordPrev is not empty %}
                <a class="btn btn-primary btn-sm"
                   href="{{ path('app.czech_to_russian.detail', {id: wordPrev.id}) }}">
                    <i class="fa fa-arrow-left"></i>
                    {{ wordPrev.content }}
                </a>
            {% endif %}
        </div>

        <div class="col text-center">
            <h1>
                {{ word.content }}
                {% if word.languageNotePronunciation is not empty %}
                    <small>
                        {{ word.languageNotePronunciation }}
                    </small>
                {% endif %}
            </h1>
        </div>

        <div class="col text-right">
            {% if wordNext is not empty %}
                <a class="btn btn-primary btn-sm"
                   href="{{ path('app.czech_to_russian.detail', {id: wordNext.id}) }}">
                    {{ wordNext.content }}
                    <i class="fa fa-arrow-right"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <h3 class="text-center">
        {{ word|word_info_under }}
    </h3>

    {% if word.explanation is not empty %}
        <div class="text-center">
            <strong>{{ word.explanation }}</strong>
            <div class="text-center text-muted">
                <cite title="Source Title">{{ word.explanationSourceInfo }}</cite>
                {% if word.explanationSourceDate is not empty %}
                    [cit. {{ word.explanationSourceDate }}]
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for translation in word.translations %}
        <hr>
        <h3 class="text-center">
            <em>
                {% if translation.russianWord.languageNoteOther is not empty %}
                    <small>{{ translation.russianWord.languageNoteOther }}</small>
                {% endif %}
                {% if translation.czechWordNote is not empty %}
                    <small class="text-primary">{{ translation.czechWordNote }}</small>
                {% endif %}
            </em>
            {% spaceless %}
                <a href="{{ path('app.russian_to_czech.detail', { id: translation.russianWord.id }) }}">
                    {% if translation.russianWord.contentWithAccent is not empty %}
                        <strong>{{ translation.russianWord.contentWithAccent|highlight_accent }}</strong>
                    {% else %}
                        <strong>{{ translation.russianWord.content }}</strong>
                    {% endif %}
                </a>
            {% endspaceless %}
            {{ translation.russianWord|word_info_after }}
        </h3>

        {% for example in translation.examples %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-right" style="color: #002389;">{{ example.czechWordSentence }}</p>
                </div>
                <div class="col-sm-6">
                    <p>{{ example.russianWordSentence }}</p>
                </div>
            </div>
        {% endfor %}

        {% if translation.link is not empty %}
            <p class="text-center">
                <a href="https://kontext.korpus.cz/{{ translation.link }}" target="_blank">
                    <i class="fa fa-link"></i>
                    {{ 'app.link.intercorp'|trans }}
                </a>
            </p>
        {% endif %}

    {% endfor %}

    {% if word.categories is not empty %}
        <hr>
        <div class="text-center">
            <h4>{{ 'app.topics'|trans }}</h4>
            <p>
                {% for category in word.categories %}
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('app.topics') }}">{{ category.title }}</a>
                {% endfor %}
            </p>
        </div>
    {% endif %}

    <hr>
    <p class="text-center text-muted">
        {{ 'app.updated_at'|trans }} {{ word.updatedAtFormat('j.n.Y') }}

        {% if app.user %}
            <a href="{{ path('admin.czech-word.edit', {id: word.id}) }}">
                <i class="fa fa-edit"></i>
            </a>
        {% endif %}
    </p>
{% endmacro %}

{% macro word_russian(word, wordPrev, wordNext) %}
    <div class="row">
        <div class="col">
            {% if wordPrev is not empty %}
                <a class="btn btn-primary btn-sm"
                   href="{{ path('app.russian_to_czech.detail', {id: wordPrev.id}) }}">
                    <i class="fa fa-arrow-left"></i>
                    {{ wordPrev.content }}
                </a>
            {% endif %}
        </div>

        <div class="col text-center">
            <h1>
                {% if word.contentWithAccent is not empty %}
                    {{ word.contentWithAccent|highlight_accent }}
                {% else %}
                    {{ word.content }}
                {% endif %}
                {% if word.languageNotePronunciation is not empty %}
                    <small>
                        {{ word.languageNotePronunciation|highlight_accent }}
                    </small>
                {% endif %}
            </h1>
        </div>

        <div class="col text-right">
            {% if wordNext is not empty %}
                <a class="btn btn-primary btn-sm"
                   href="{{ path('app.russian_to_czech.detail', {id: wordNext.id}) }}">
                    {{ wordNext.content }}
                    <i class="fa fa-arrow-right"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <h3 class="text-center">
        {{ word|word_info_under }}
    </h3>

    {% if word.explanation is not empty %}
        <div class="text-center">
            <strong>{{ word.explanation }}</strong>
            <div class="text-center text-muted">
                <cite title="Source Title">{{ word.explanationSourceInfo }}</cite>
                {% if word.explanationSourceDate is not empty %}
                    [cit. {{ word.explanationSourceDate }}]
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for translation in word.translations %}
        <hr>
        <h3 class="text-center">
            <em>
                {% if translation.czechWord.languageNoteOther is not empty %}
                    <small>{{ translation.czechWord.languageNoteOther }}</small>
                {% endif %}
                {% if translation.russianWordNote is not empty %}
                    <small class="text-primary">{{ translation.russianWordNote }}</small>
                {% endif %}
            </em>
            {% spaceless %}
                <a href="{{ path('app.czech_to_russian.detail', { id: translation.czechWord.id }) }}">
                    <strong>{{ translation.czechWord }}</strong>
                </a>
            {% endspaceless %}
            {{ translation.czechWord|word_info_after }}
        </h3>

        {% for example in translation.examples %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-right" style="color: #002389;">{{ example.russianWordSentence }}</p>
                </div>
                <div class="col-sm-6">
                    <p>{{ example.czechWordSentence }}</p>
                </div>
            </div>
        {% endfor %}

        {% if translation.link is not empty %}
            <p class="text-center">
                <a href="https://kontext.korpus.cz/{{ translation.link }}" target="_blank">
                    <i class="fa fa-link"></i>
                    {{ 'app.link.intercorp'|trans }}
                </a>
            </p>
        {% endif %}

    {% endfor %}

    {% if word.categories is not empty %}
        <hr>
        <div class="text-center">
            <h4>{{ 'app.topics'|trans }}</h4>
            <p>
                {% for category in word.categories %}
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('app.topics') }}">{{ category.title }}</a>
                {% endfor %}
            </p>
        </div>
    {% endif %}

    <hr>
    <p class="text-center text-muted">
        {{ 'app.updated_at'|trans }} {{ word.updatedAtFormat('j.n.Y') }}

        {% if app.user %}
            <a href="{{ path('admin.russian-word.edit', {id: word.id}) }}">
                <i class="fa fa-edit"></i>
            </a>
        {% endif %}
    </p>
{% endmacro %}
